# Ignore logs and temporary files
*.log
*.tmp
*.vscode

# Ignore all files in a directory
/Database/forecast_data/
/Database/Paranagua_CEMADEN/

# Ignore specific files
Parada_2024_chuva.xlsx
Database/README
